@media (max-width: 320px) {
  header ul {
    font-size: 0.8rem;
  }
}

/*////////GENERAL//////////////*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: hsl(217, 28%, 15%);
}
/*/ ///////GENERAL//////////////*/

/*////////HEADER//////////////*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin-bottom: 3rem;
}

.logo {
  width: 30%;
  margin-left: 1rem;
  min-width: 5rem;
  display: flex;
}

.logo img {
  width: 80%;
}

.mobile-nav {
  font-family: "Raleway", sans-serif;
}

.mobile-nav ul {
  list-style: none;
  display: flex;
}

.mobile-nav ul li {
  margin-right: 1rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: 700;
}

/*/ ///////HEADER//////////////*/

/*////////MAIN//////////////*/

main {
  background: hsl(218, 28%, 13%);
}

/*/ ///////INTRO//////////////*/

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(217, 28%, 15%) url("./images/bg-curvy-mobile.svg") no-repeat
    bottom 0 left 10%;
  text-align: center;
  color: white;
  margin-bottom: 5rem;
}

.intro div {
  width: 90%;
  margin-bottom: 2rem;
}

.intro-illustration img {
  width: 100%;
}

.intro-title {
  font-family: "Raleway", sans-serif;
}

.intro-get-started button {
  width: 70%;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  outline: none;
  border: none;
  padding: 0.9rem 1rem;
  border-radius: 2rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

/*////////INTRO//////////////*/

/*/ ///////FEATURES//////////////*/

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.features > div {
  width: 90%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.feature div {
  margin-bottom: 1rem;
}

.desktop-nav {
  display: none;
}

/*////////FEATURES//////////////*/

/*/ ///////STAY-PRODUCTIVE//////////////*/

.stay-productive {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: left;
  margin-bottom: 7rem;
}

.stay-productive div {
  width: 90%;
  margin: 1.5rem auto;
}

.stay-productive-illustration {
  width: 100%;
}

.stay-productive-illustration img {
  width: 100%;
}

.stay-productive-description-second-part {
  display: block;
  margin-top: 1rem;
}

.how-fylo-works button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.2rem;
  color: hsl(176, 68%, 64%);
  border-bottom: 2px solid hsl(176, 68%, 64%);
  text-align: left;
  position: relative;
  cursor: pointer;
}

.how-fylo-works button * {
  vertical-align: middle;
}

/*/ ///////STAY-PRODUCTIVE//////////////*/

/*/ ///////CUSTOMER-REVIEWS//////////////*/

.quotes {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(30%, -100%);
  width: 2rem;
}

.customer-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: white;
}

.customer-reviews .review {
  width: 90%;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: hsl(219, 30%, 18%);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.customer-reviews .review:first-child {
  position: relative;
}

.review-description {
  margin: 1.5rem 0 2rem 0;
}

.review-description {
  line-height: 1.8rem;
}

.customer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-image {
  width: 20%;
  margin-right: 1rem;
}

.profile-image img {
  width: 100%;
  border-radius: 50%;
}

.customer-info .user-name {
  font-weight: 700;
}

/*/ ///////CUSTOMER-REVIEWS//////////////*/

/*/ ///////SIGN-UP//////////////*/

.sign-up {
  width: 90%;
  margin: auto;
  background: hsl(217, 28%, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  color: white;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  transform: translateY(20%);
}

.sign-up > * {
  margin-bottom: 1rem;
}

form {
  margin-top: 2rem;
}

.sign-up-input,
.sign-up-button {
  width: 90%;
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 1rem;
}

.sign-up-input {
  font-weight: lighter;
  margin-bottom: 2rem;
}

.sign-up-button {
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.9rem;
}

/*/ ///////SIGN-UP//////////////*/

/*/ //////MAIN//////////////*/

/*/ //////FOOTER//////////////*/

footer {
  background: hsl(216, 53%, 9%);
  padding-top: 10rem;
  color: white;
}

.footer-logo img {
  margin: 0 0 2rem 2rem;
}

.contacts {
  width: 80%;
  margin: auto;
}

.contact {
  display: flex;
  margin-bottom: 1.5rem;
  text-align: left;
}

.contact-info {
  margin-left: 1.5rem;
}

.terms {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.terms > div {
  width: 30%;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.terms ul {
  list-style: none;
}

.terms ul li {
  margin: 1rem 0;
}

.media {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.media div {
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/*/ //////FOOTER//////////////*/

@media (min-width: 40rem) {
  header {
    height: 7rem;
  }

  .logo {
    width: 30%;
    max-width: 12rem;
    margin-left: 3rem;
  }

  .mobile-nav {
    margin-right: 5rem;
  }

  .mobile-nav ul li:hover {
    text-decoration: underline;
  }
  .intro div {
    width: 50%;
    margin-bottom: 2rem;
  }

  .intro .intro-get-started {
    width: 35%;
  }

  .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5rem;
  }

  .features > div {
    width: 40%;
  }

  .stay-productive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }

  .stay-productive .stay-productive-illustration {
    width: 50%;
  }

  .stay-productive .stay-productive-text {
    width: 45%;
  }

  .customer-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }

  .customer-reviews .review {
    width: 30%;
  }

  .sign-up {
    width: 70%;
  }

  footer {
    display: grid;
    grid-template-columns: 50% 30% auto;
    grid-template-rows: repeat(2, 50%);
    align-items: start;
    justify-content: center;
    grid-gap: 2rem;
  }

  footer > div {
    margin: 0 !important;
  }

  .footer-logo {
    grid-column: 1 / -1;
  }

  .footer-logo img {
    margin: 0 0 0 0;
  }


  .contacts {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, 50%);
    align-items: end;
    grid-column-gap: 3rem;
    grid-row-gap: 1.5rem;
    width: 100%;
  }

  .contacts > div {
    margin: 0;
  }

  .contact-info {
    margin-left: 1rem;
  }
  .contacts .location {
    grid-row: 1 / -1;
  }

  .contacts .email {
    align-self: start;
  }

  .terms {
    flex-direction: row;
    justify-content: center;
  }

  .terms ul li {
    margin: 0 0 1rem 0 ;
  }

  .media {
    padding: 0;
  }


  /*.contacts {*/
  /*  margin: 0 2rem;*/
  /*}*/
  /*.terms {*/
  /*  width: 20%;*/
  /*  display: flex;*/
  /*  flex-direction: row;*/
  /*}*/

  /*.terms > div {*/
  /*  width: auto;*/
  /*}*/

}
